@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:700|Roboto:100,300,700');
* {
    margin: 0px;
    padding: 0;
    font-family: 'Roboto';
    text-decoration: none;    
  }

body {
    margin-left: 150px;
    margin-right: 150px;
    font-weight: 400;
    size: 20px;
    line-height: 30px;
    background-color: #ECF7FF;
}

h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 70px;
}

.nav-bar {
    z-index: 1;
    position: fixed;
    top: 0;
    width: 85vw;
    height: 10vh;
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    background-color: #ECF7FF
    }

.nav-links {
    width: 30vw;
    display:flex;
    justify-content: space-around;
}

.contact-button {
    background-color: #072AC8;
    border: none;
    color:  white;
    padding: 15px 32px;
    text-align: center;
    width: 145px;
}

.hero-section {
    margin-top: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 50px;
}

.hero-text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 40px;
    width: 30vw;
}

.hero-section-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}
.hero-img-container {
    width: 30vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#hero-img {
    position: relative;
    width: 600px;
}

#card-1 {
    position: absolute;
    max-width: 75%;
    background-color: transparent;
    top: -20px;
    left: -120px;
}

#card-2 {
    position: absolute;
    max-width: 75%;
    background-color: transparent;
    top: 460px;
    left: 235px;
}

.companies {
    margin-top: 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    filter: grayscale();
    background-color: transparent;
}

.recent-projects {
    margin-top: 250px;
    display: flex;
    flex-direction: column;
    gap: 70px;
}

h3 {
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
}

.recent-projects-boxes-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.recent-projects-boxes {
    background-color: #FFFFFF; 
    height: 400px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.recent-projects-boxes > img {
    width: 300px;
    height: 200px;
    
}

.recent-projects-boxes-text {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF; 
    gap: 50px;
    padding-left: 20px;
}



